@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --max-width: 80rem;

    --font-family: "Roboto", sans-serif;
    --font-size-md: clamp(1.5rem, 5vw, 2rem);           /* 24px to 32px */
    --font-size-xs: calc(var(--font-size-md) * 2 / 3);    /* 12px to 16px */
    --font-size-sm: calc(var(--font-size-md) * 0.75);   /* 18px to 24px */
    --font-size-lg: calc(var(--font-size-md) * 1.5);    /* 36px to 48px */
    --font-size-xl: calc(var(--font-size-md) * 2.25);   /* 40.5px to 54px */
    --line-height: 1.5;

    --font-weight: 400;
    --font-weight-bold: 700;
    --font-weight-light: 300;

    --color-lightest: hsl(0, 0%, 100%);     
    --color-lighter: hsl(215, 15%, 98%);     
    --color-light: hsl(215, 15%, 90%);      
    --color-dark: hsl(215, 30%, 20%);       
    --color-accent: hsl(215, 80%, 50%);     
    --color-accent-light: hsl(215, 100%, 60%); 
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--color-dark);
    background-color: var(--color-lightest);
}


/* Typography */
h1, h2 { 
    font-weight: var(--font-weight-bold);
}
h1 { font-size: var(--font-size-xl); line-height: 0.85;}
h2 { font-size: var(--font-size-lg); line-height: 1;}

a {
    color: currentColor;
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--color-accent-light);
    text-decoration: underline;
}

button {
    font-size: var(--font-size-sm);
    background-color: var(--color-accent);
    color: var(--color-lightest);
    padding: 0.5em 2em;
    border: 0;
    border-radius: 0.5em;
}

button:hover, button:focus {
    background-color: var(--color-accent-light);
    cursor: pointer;
}

img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}


/* Base layout */
.container {
    margin-inline: auto;
    width: min(100% - 2rem, var(--max-width));
}

header, .hero-section, footer {
    background-color: var(--color-dark);
    color: var(--color-lighter);
}

section { padding-block: 2.5em; }


/* Header */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-block: 1rem;
}

.site-logo {font-size: var(--font-size-md);}
.site-nav {color: var(--color-light);}
.site-nav .nav-item { margin-inline-start: 1em; }


/* Hero section */

.hero-copy {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    margin-block-end: 2rem;
}

.hero-section .btn {
    align-self: flex-start;
}

.hero-image {
    aspect-ratio: 16/9;
}

/* About section */

.about-section {background-color: var(--color-lightest);}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 2rem;
    justify-content: center;
    margin-block: 2rem;
    font-size: var(--font-size-xs);
}

.card {
    text-align: center;
}

.card img {
    border-radius: 1rem;
    border: 1px solid var(--color-dark);
    margin-block-end: 0.5em;
}

/* Testimonial section */
.testimonial-section {
    background-color: var(--color-light);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-light);
    font-style: italic;
    line-height: 1.2;
}

.testimonial-section blockquote {
    padding-inline: 2em;
}

.testimonial-section .speaker {
    margin-top: 0.5em;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-sm);
    text-align: right;
}

.testimonial-section .speaker::before {
    content: "-";
    margin-inline-end: 0.25em;
}

/* Signup section */
.signup-section .call-to-action {
    background-color: var(--color-accent);
    color: white;
    padding: 1.5em 3em;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.signup-section .call-copy span {display: none;}

.signup-section h2 {font-size: var(--font-size-md);}
.signup-section p {font-size: var(--font-size-xs);}
.signup-section .btn { border: 3px solid currentColor; }


/* Footer */
footer {
    padding-block: 3em;
    text-align: center;
}


/* Media queries  */
@media screen and (min-width: 32rem) {
    /* .signup-section h2 { font-size: var(--font-size-lg); } */
    .signup-section p { font-size: var(--font-size-sm); }
    .signup-section .call-copy span {display: inline;}
}

@media screen and (min-width: 64rem) {
    .card {font-size: var(--font-size-md);}
    .testimonial-section { font-size: var(--font-size-lg); }
    .testimonial-section .speaker { font-size: var(--font-size-md); }
}

@media screen and (min-width: 80rem) {
    .hero-section .container {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .hero-copy {margin-block-end: 0;}
}